{
  "log": {"loglevel": "warning"},
  "inbounds": [{
    "port": {{PORT}},
    "listen": "0.0.0.0",
    "protocol": "vmess",
    "settings": {
      "clients": [{"id": "{{UUID}}", "alterId": 0}],
      "disableInsecureEncryption": false
    },
    "streamSettings": {"network": "tcp"}
  }],
  "outbounds": [
    {"protocol": "freedom", "tag": "direct"},
    {"protocol": "blackhole", "tag": "block"}
  ]
}
